*.class

# Package Files #

*.war
*.ear
/Rails Projects/Rails6/build/
/Rails Projects/Rails6/src/Config.java
#/Rails Projects/Rails6/src/DatabaseGegevens.java

AgileRailsSchool.sublime-workspace
AgileRailsSchool.sublime-project
/Rails Projects/Rails1/nbproject/private/
/Rails Projects/Rails1/build/
/Rails Projects/Rails6/dist/